body {
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    background-color: red;
    color: black;
}

h1 {
    text-align: center;
}

.invisible {
    display: none;
}

.visible {
    display: initial;
}


button:hover {
    color: white;
    background-color:black;
}


#invisible {
    display: none;
}

#visible {
    display: initial;
}

#button {
    display: initial;
}

#button_gone {
    display: none;
}

div.add {
    display: initial;
}


.text-center {
    text-align: center;
}

li {
    text-decoration: none;
    list-style-type: none;
    margin-top: 15px;
}

li.done span.todo-name {
    text-decoration: line-through;
}